@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body
{
    background-color: #1D1815;
    width: 100%;
    height: 100%;
}


.myNameAndСontacts
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.myName h1
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 99px;
    letter-spacing: 0.13em;
    color: #FFFFFF;
    margin-left: 5%;
    margin-right: 5%;
}


.myName
{
    /*width: 622px;
    height: 312px;*/
}


.myName h4
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 103.61%;
    /* or 37px */
    letter-spacing: 0.13em;
    color: #6F6B6A;
    margin-left: 5%;
    margin-right: 5%;
}


.photo img
{
    width: 264px;
    height: 312px;
    left: 35px;
    top: 17px;
}


.headPage
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.contacts
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.contactsInfo
{
    display: flex;
    flex-direction: row;
}


.contacts img
{
    left: 67.69%;
    right: 30.12%;
    top: 4.98%;
    bottom: 91.6%;
}


.contactsInfo h3
{
    margin-left: 5px;
    font-weight: 300;
    font-size: 36px;
    line-height: 103.61%;
    /* or 37px */
    letter-spacing: 0.13em;
}


.aboutMyself
{
    background-color: rgba(196, 196, 196, 0.9);
    font-family:'Roboto', sans-serif;
    min-width: max-content;
    font-style: bolder;
    font-weight: 300;
    color: #000000;
    padding-left: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}


.educationInLSTUInfo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.educationInLSTUInfo h3,p
{
    font-weight:300;
    margin: 2%;
    margin-left: 5px;
}


.educationInLSTU h1
{
    font-weight: 300;
    margin-bottom: 8px;
}


.aboutMyself h1
{
    font-size: 48px;
    line-height: 103.61%;
    /* identical to box height, or 50px */
    letter-spacing: 0.085em;
}


.aboutMyself h3
{
    font-size: 36px;
    line-height: 160.12%;
    /* or 58px */
    letter-spacing: 0.085em;
    margin:0px;
    font-weight: 300;
}


.aboutMyself p
{
    font-size: 24px;
    line-height: 160.12%;
    /* or 38px */
    letter-spacing: 0.085em;
}


.languages
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:left;
    font-weight: normal;
}


.languages p
{
    font-weight: 300;
    font-size: 36px;
    line-height: 103.61%;
    /* or 37px */
    letter-spacing: 0.085em;
}


.сomputerProficiency p
{
    font-weight: 300;
    font-size: 36px;
    line-height: 103.61%;
    /* or 37px */
    letter-spacing: 0.045em;
    margin: 0.5%;
}


.сomputerProficiency h1
{
    font-weight: 300;
    font-size: 48px;
    line-height: 103.61%;
    /* identical to box height, or 50px */
    letter-spacing: 0.045em;
    margin-bottom: 8px;
}


.businessQualities
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:space-around;
    font-weight: normal;
}


.businessQualities p
{
    font-weight: 300;
    font-size: 36px;
    line-height: 103.61%;
    /* or 37px */
    letter-spacing: 0.085em;
    margin-left: 0;
}


.SWPIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
}

.pcSkills
{
    padding-left: 0.5%;    
}


.SWPIcons p
{
    font-weight: 300;
    font-size: 36px;
    line-height: 103.61%;
    /* or 37px */
    letter-spacing: 0.005em;
    margin: 0.2%;
}


.PLIcons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-top: 0.2%;
}


.programmingLanguages h1
{
    font-weight: 300;
    font-size: 48px;
    line-height: 103.61%;
    /* identical to box height, or 50px */
    margin-bottom: 0.15%;
}


.softwareProducts h1
{
    font-weight: 300;
    font-size: 48px;
    line-height: 103.61%;
    /* identical to box height, or 50px */
    letter-spacing: 0.055em;
}


@media (max-device-width: 1000px)
{
    .headPage
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .myNameAndСontacts
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    
    .aboutMyself
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }

    
    #line
    {
        max-height: 12px;
        transform: rotate(90);
    }
    .photo img
    {
        height: 154;
        width: 125;
        padding-left: 2%;
    }
    .myName h1
    {
        font-weight: 300;
        font-size: 45px;
        line-height: 25px;
        letter-spacing: 0.13em;
        margin: 2%;
    }
    .myName h4
    {
        font-weight: 300;
        font-size: 25px;
        line-height: 103.61%;
        /* or 15px */
        letter-spacing: 0.13em;
        margin: 2%;
    }
    .contactsInfo h3
    {
        font-size: 25px;
    }
}

/*@media (max-width: 1600px)
{
    #line
    {
        transform: rotate(90);
    } 
}
*/