body
{
    background-color: #1D1815;
    width: 1600px;
    height: 1024px;
}


.myName h1
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 99px;
    letter-spacing: 0.13em;
    color: #FFFFFF;
}


.myName h4
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 103.61%;
    /* or 37px */
    letter-spacing: 0.13em;
    color: #6F6B6A;
}


.headPage
{
    display: flex;
    flex-direction: row;
}


.contacts
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;
}


.phone
{
    font-weight: 300;
    font-size: 36px;
    line-height: 103.61%;
    /* or 37px */
    letter-spacing: 0.13em;
}

.email
{
    font-weight: 300;
    line-height: 103.61%;
    font-size: 24px;
    /* identical to box height, or 25px */
    letter-spacing: 0.085em;
}


.telegram
{
    font-weight: 300;
    font-size: 24px;
    line-height: 103.61%;
    /* identical to box height, or 25px */
    letter-spacing: 0.085em;
}
.aboutMyself
{
    background-color: rgba(196, 196, 196, 0.9);
}